.create-itinerary-container {
    padding: 20px;
    max-width: 460px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .activity-fields {
    border: 1px solid #007bff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .react-select {
    width: 100%;
  }
  
  .select__control {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.3s;
  }
  
  .select__control--is-focused {
    border-color: #007bff;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
  }
  
  .select__menu {
    z-index: 10;
  }

/* CreateItinerary.css */
.date-input-group {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 8px; /* Space between date inputs */
}

.add-date-button,
.remove-date-button {
  background-color: #4CAF50; /* Green background for add button */
  border: none;
  color: white; /* White text */
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  border-radius: 50%; /* Make it circular */
  display: flex; /* Use flexbox */
  align-items: center; /* Center the "+" */
  justify-content: center; /* Center the "+" */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 10px; /* Space between input and button */
  font-size: 16px; /* Font size */
}

.add-date-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.remove-date-button {
  background-color: #d9534f; /* Red background for remove button */
}

.remove-date-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

