.HomePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.navbar {
    display: flex;
    height: '100%';
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbarMain {
    display: flex;
    justify-content: space-between;
    height: '100%';
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo-container {
    display: flex;
    align-items: center;
    width: '120%';
    height: '120%';
}

.logo {
    height: 90px;
    width: 80px;
    margin-right: 10px;
}

.website-name {
    font-size: 24px;
    font-weight: 700;
}

.nav-links button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav-links button:hover {
    background-color: #0056b3;
}

.currency-selector {
    display: flex;
    align-items: center;
}

.currency-symbol {
    margin-right: 10px;
}

.currency-selector select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.avatar-container {
    position: relative;
}

.avatar-container .MuiAvatar-root {
    cursor: pointer;
}

.MuiMenu-paper {
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.MuiTypography-root {
    margin: 10px 0;
}
.card-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 10px;
  } 

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.no-data-image {
  max-width: 100%;
  height: auto;
  width: 300px; /* Set the desired size */
}



/* No data found */
.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .no-data-image {
    max-width: 100%;
    height: auto;
    width: 300px; /* Set the desired size */
  }
  






