/* Full-screen container with a background image */
.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align slightly to the left */
  height: 100vh;
 /* background: url('../airplane.jpg') no-repeat center center fixed;*/
  background-size: cover;
  padding-left: 10vw; /* Adjust to position the card slightly left */
}

/* Styling the login card */
.login-card {
  width: 350px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

.login-card h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Styling button group */
.button-group {
  display: flex;
  justify-content: space-between; /* Align buttons evenly */
  margin-top: 20px; /* Add space above the buttons */
}

.login-button,
.signup-button {
  flex: 1; /* Allow buttons to grow equally */
  padding: 12px; /* Slightly larger padding for better touch targets */
  border: none; /* Remove border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Show pointer on hover */
  transition: all 0.3s ease; /* Smooth transition for all effects */
}

.login-button {
  background-color: #007bff; /* Green background for sign in */
  color: white; /* White text color */
  margin-right: 10px; /* Space between buttons */
}

.signup-button {
  background-color: #007bff; /* Blue background for sign up */
  color: white; /* White text color */
}

.login-button:hover {
  transform: scale(1.05); /* Slightly increase the button size */
}

.signup-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.error, .success {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.signup-prompt {
  text-align: center;
  margin-top: 15px; /* Add space above the text */
  font-size: 14px; /* Slightly smaller font for the prompt */
  color: #555; /* Dark grey text color for the prompt */
}

.signup-link {
  color: #007bff; /* Blue color for the link */
  text-decoration: underline; /* Underline to signify it's a link */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 5px; /* Space between the text and the link */
}

.signup-link:hover {
  color: #0056b3; /* Darker blue on hover */
}


/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}